@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/PingFang-SC-Regular.ttf") format('truetype');
}

body {
    font-family: "PingFang SC";
    background-color: #F4F4F4;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#404040, #404040);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition-property: color, background-size;
    transition: .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#404040, #404040)
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

.fade-in-element {
    opacity: 0;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in-element.fade-in {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    display: block;
}

.fade-out-element.fade-out {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    display: none;
}
